In [150]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import os

In [151]:
data = pd.read_json("./folder/data.json")
data = data[data["Switch Order"]== "2-2-0-5-6"]
data

,level_0,index,timestamp,rssi,frequency,iq,Switch Order,Angle,Antenna,TAG,Entrada
9096,9096,0,2024-08-22 15:16:16.275000+00:00,-67,2426,"[-142, -137, 120, -126, 126, 139, -167, 104, -...",2-2-0-5-6,0,1,A,1
9097,9097,1,2024-08-22 15:16:16.779000+00:00,-58,2402,"[-80, 141, -131, -103, 101, -130, 118, 114, -1...",2-2-0-5-6,0,1,A,1
9098,9098,2,2024-08-22 15:16:17.292000+00:00,-62,2480,"[-191, 41, -39, -193, 189, -37, 18, 189, -200,...",2-2-0-5-6,0,1,A,1
9099,9099,3,2024-08-22 15:16:17.797000+00:00,-65,2426,"[-124, 130, -114, -138, 137, -130, 113, 136, -...",2-2-0-5-6,0,1,A,1
9100,9100,4,2024-08-22 15:16:18.251000+00:00,-61,2480,"[-181, -66, 63, -189, 179, 69, -84, 168, -152,...",2-2-0-5-6,0,1,A,1
...,...,...,...,...,...,...,...,...,...,...,...
18957,18957,230,2024-08-23 10:24:15.812000+00:00,-55,2402,"[180, -64, 5, 186, -196, -9, 31, -183, 171, 88...",2-2-0-5-6,90,2,C,2
18958,18958,231,2024-08-23 10:24:16.305000+00:00,-56,2426,"[148, 115, -134, 131, -116, -141, 163, -84, 63...",2-2-0-5-6,90,2,C,2
18959,18959,232,2024-08-23 10:24:16.820000+00:00,-62,2480,"[-64, 153, -151, -87, 113, -133, 125, 117, -13...",2-2-0-5-6,90,2,C,2
18960,18960,233,2024-08-23 10:24:17.334000+00:00,-63,2480,"[-155, -6, 6, -159, 158, 64, -86, 160, -110, -...",2-2-0-5-6,90,2,C,2
18961,18961,234,2024-08-23 10:24:17.839000+00:00,-55,2402,"[-142, 104, -55, -164, 190, -47, 34, 178, -186...",2-2-0-5-6,90,2,C,2

In [152]:
def to_plus_minus_pi(angle, deg = True):
    ''' MantÃ©m o Ã¢ngulo entre +- 180/pi '''
    factor = 180 if deg else np.pi
    while angle >= factor:
        angle -= 2 * factor
    while angle < -factor:
        angle += 2 * factor
    return angle

In [84]:
sample = data.iloc[22000]
sample

level_0                                                     22000
index                                                         216
timestamp                        2024-08-23 15:01:59.898000+00:00
rssi                                                          -60
frequency                                                    2402
iq              [143, -133, 107, 160, -181, 88, -41, -191, 204...
Switch Order                                           6-6-4-9-10
Angle                                                         150
Antenna                                                         2
TAG                                                             B
Entrada                                                         2
Name: 22000, dtype: object

In [85]:
iq = sample["iq"]
switch_order = sample["Switch Order"]
order = switch_order.split("-")

In [86]:
ref_samples = [ np.array([ complex(iq[i], iq[i+1]) for i in range(0,15,2) ]) for  ]

array([ 143.-133.j,  107.+160.j, -181. +88.j,  -41.-191.j,  204. -34.j,
          9.+195.j, -194. -22.j,   65.-181.j])

In [99]:

fre=2400_000_000 
sw= 500_000

array([ 0.00000000e+00,  1.27877162e-01,  2.53654584e-01,  3.75267005e-01,
        4.90717552e-01,  5.98110530e-01,  6.95682551e-01,  7.81831482e-01,
        8.55142763e-01,  9.14412623e-01,  9.58667853e-01,  9.87181783e-01,
        9.99486216e-01,  9.95379113e-01,  9.74927912e-01,  9.38468422e-01,
        8.86599306e-01,  8.20172255e-01,  7.40277997e-01,  6.48228395e-01,
        5.45534901e-01,  4.33883739e-01,  3.15108218e-01,  1.91158629e-01,
        6.40702200e-02, -6.40702200e-02, -1.91158629e-01, -3.15108218e-01,
       -4.33883739e-01, -5.45534901e-01, -6.48228395e-01, -7.40277997e-01,
       -8.20172255e-01, -8.86599306e-01, -9.38468422e-01, -9.74927912e-01,
       -9.95379113e-01, -9.99486216e-01, -9.87181783e-01, -9.58667853e-01,
       -9.14412623e-01, -8.55142763e-01, -7.81831482e-01, -6.95682551e-01,
       -5.98110530e-01, -4.90717552e-01, -3.75267005e-01, -2.53654584e-01,
       -1.27877162e-01, -2.44929360e-16])

In [104]:
(2400e6)/(1/2e-6)

4800.0

In [142]:
sample = 90
phase = 70
iq =complex( np.cos(2*np.pi*2480*2e-6*sample+70), np.sin(2*np.pi*2480*2e-6*sample+70))
iq2 =complex( np.cos(2*np.pi*2480*2e-6*(sample+1)+70), np.sin(2*np.pi*2480*2e-6*(sample+1)+70))
np.rad2deg(np.angle(iq2) - np.angle(iq))