In [5]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import os

In [25]:
def single_antenna_to_dataframe(read_fp: str, write_fp=None) -> pd.DataFrame:
    '''Transforma uma captura com uma única antena em um df '''
    raw =pd.read_json(read_fp)
    df= list()
    for group in raw[1]:
        df.append(group)
    df = pd.DataFrame(df)
    df = df.join(pd.DataFrame(df["aoa"].to_list()))
    df.pop("aoa")
    df.pop("mac")
    df.pop("no")
    df.pop("raw")

    if write_fp is not None:
        df.to_json(write_fp)
    return df

In [47]:
ANTENNA_ORDER = os.listdir("./data")[0]
ANGLE = os.listdir(f"./data/{ANTENNA_ORDER}")[0]
FILE = os.listdir(f"./data/{ANTENNA_ORDER}/{ANGLE}")[0]
df = single_antenna_to_dataframe(f"./data/2-2-1-12-14/0/ANTENNA_2-TAG_A-ENTRADA_2.json")
df

AttributeError: 'NoneType' object has no attribute 'keys'

In [38]:
df["Switch Order"] = ANTENNA_ORDER
df["Angle"]= ANGLE
df["Antenna"] = FILE.split("-")[0][-1]
df["TAG"] = FILE.split("-")[1][-1]
df["Entrada"] = FILE.split("-")[2].split(".")[0][-1]
df

,timestamp,rssi,frequency,iq,Switch Order,Angle,Antenna,TAG,Entrada
0,2024-08-23T08:39:20.893Z,-60,2480,"[51, 157, -168, 29, -21, -169, 170, -15, -2, 1...",14-14-13-8-10,0,1,A,1
1,2024-08-23T08:39:21.798Z,-62,2480,"[-82, -152, 149, -65, 43, 165, -169, 49, -43, ...",14-14-13-8-10,0,1,A,1
2,2024-08-23T08:39:22.322Z,-61,2426,"[-108, 110, -102, -115, 119, -101, 88, 120, -1...",14-14-13-8-10,0,1,A,1
3,2024-08-23T08:39:22.826Z,-56,2402,"[99, 130, -142, 82, -74, -151, 147, -76, 65, 1...",14-14-13-8-10,0,1,A,1
4,2024-08-23T08:39:23.339Z,-62,2480,"[-178, -20, 33, -181, 180, 34, -62, 165, -162,...",14-14-13-8-10,0,1,A,1
...,...,...,...,...,...,...,...,...,...
217,2024-08-23T08:41:18.143Z,-61,2426,"[71, -171, 163, 92, -92, 154, -160, -103, 120,...",14-14-13-8-10,0,1,A,1
218,2024-08-23T08:41:18.656Z,-57,2402,"[162, -34, -54, 90, -157, -152, 78, -245, 171,...",14-14-13-8-10,0,1,A,1
219,2024-08-23T08:41:19.159Z,-63,2480,"[-188, -50, 57, -170, 160, 76, -97, 154, -156,...",14-14-13-8-10,0,1,A,1
220,2024-08-23T08:41:19.673Z,-61,2426,"[195, -22, -6, 207, -203, 3, 12, -205, 202, 38...",14-14-13-8-10,0,1,A,1
221,2024-08-23T08:41:20.075Z,-59,2480,"[107, -156, 140, 110, -127, 137, -126, -129, 1...",14-14-13-8-10,0,1,A,1

In [49]:
data =pd.DataFrame()
for ANTENNA_ORDER in os.listdir("./data"):
    for ANGLE in os.listdir(f"./data/{ANTENNA_ORDER}"):
        for FILE in os.listdir(f"./data/{ANTENNA_ORDER}/{ANGLE}"):
            try:
                df = single_antenna_to_dataframe(f"./data/{ANTENNA_ORDER}/{ANGLE}/{FILE}")
                df["Switch Order"] = ANTENNA_ORDER
                df["Angle"]= ANGLE
                df["Antenna"] = FILE.split("-")[0][-1]
                df["TAG"] = FILE.split("-")[1][-1]
                df["Entrada"] = FILE.split("-")[2].split(".")[0][-1]

                data = pd.concat([data,df])
            except Exception as e:
                print(f"./data/{ANTENNA_ORDER}/{ANGLE}/{FILE}")
                print(e.args)
data

./data/14-14-13-8-10/0/ANTENNA_2-TAG_B-ENTRADA_2.json
('Expected object or value',)
./data/14-14-13-8-10/30/ANTENNA_2-TAG_B-ENTRADA_2.json
('Expected object or value',)
./data/2-2-1-12-14/0/ANTENNA_2-TAG_A-ENTRADA_2.json
("'NoneType' object has no attribute 'keys'",)
./data/2-2-1-12-14/120/ANTENNA_2-TAG_A-ENTRADA_2.json
("'NoneType' object has no attribute 'keys'",)
./data/2-2-1-12-14/150/ANTENNA_2-TAG_A-ENTRADA_2.json
("'NoneType' object has no attribute 'keys'",)
./data/2-2-1-12-14/180/ANTENNA_2-TAG_A-ENTRADA_2.json
("'NoneType' object has no attribute 'keys'",)
./data/2-2-1-12-14/30/ANTENNA_2-TAG_A-ENTRADA_2.json
("'NoneType' object has no attribute 'keys'",)
./data/2-2-1-12-14/60/ANTENNA_2-TAG_A-ENTRADA_2.json
("'NoneType' object has no attribute 'keys'",)
./data/2-2-1-12-14/90/ANTENNA_2-TAG_A-ENTRADA_2.json
("'NoneType' object has no attribute 'keys'",)

,timestamp,rssi,frequency,iq,Switch Order,Angle,Antenna,TAG,Entrada
0,2024-08-23T08:39:20.893Z,-60,2480,"[51, 157, -168, 29, -21, -169, 170, -15, -2, 1...",14-14-13-8-10,0,1,A,1
1,2024-08-23T08:39:21.798Z,-62,2480,"[-82, -152, 149, -65, 43, 165, -169, 49, -43, ...",14-14-13-8-10,0,1,A,1
2,2024-08-23T08:39:22.322Z,-61,2426,"[-108, 110, -102, -115, 119, -101, 88, 120, -1...",14-14-13-8-10,0,1,A,1
3,2024-08-23T08:39:22.826Z,-56,2402,"[99, 130, -142, 82, -74, -151, 147, -76, 65, 1...",14-14-13-8-10,0,1,A,1
4,2024-08-23T08:39:23.339Z,-62,2480,"[-178, -20, 33, -181, 180, 34, -62, 165, -162,...",14-14-13-8-10,0,1,A,1
...,...,...,...,...,...,...,...,...,...
233,2024-08-23T14:57:33.390Z,-50,2426,"[150, -13, -21, 156, -146, -46, 73, -138, 127,...",6-6-4-9-10,90,2,B,2
234,2024-08-23T14:57:33.904Z,-50,2426,"[-118, -103, 114, -104, 88, 128, -142, 55, -39...",6-6-4-9-10,90,2,B,2
235,2024-08-23T14:57:34.419Z,-57,2480,"[176, 34, -79, 167, -171, -87, 111, -137, 125,...",6-6-4-9-10,90,2,B,2
236,2024-08-23T14:57:34.883Z,-57,2480,"[-108, -146, 163, -103, 75, 170, -177, 54, -15...",6-6-4-9-10,90,2,B,2
237,2024-08-23T14:57:35.398Z,-51,2402,"[74, 197, -205, 40, -9, -217, 206, 17, -49, 20...",6-6-4-9-10,90,2,B,2

In [56]:
data = data.reset_index()
data.to_json("./data.json")
data

,level_0,index,timestamp,rssi,frequency,iq,Switch Order,Angle,Antenna,TAG,Entrada
0,0,0,2024-08-23T08:39:20.893Z,-60,2480,"[51, 157, -168, 29, -21, -169, 170, -15, -2, 1...",14-14-13-8-10,0,1,A,1
1,1,1,2024-08-23T08:39:21.798Z,-62,2480,"[-82, -152, 149, -65, 43, 165, -169, 49, -43, ...",14-14-13-8-10,0,1,A,1
2,2,2,2024-08-23T08:39:22.322Z,-61,2426,"[-108, 110, -102, -115, 119, -101, 88, 120, -1...",14-14-13-8-10,0,1,A,1
3,3,3,2024-08-23T08:39:22.826Z,-56,2402,"[99, 130, -142, 82, -74, -151, 147, -76, 65, 1...",14-14-13-8-10,0,1,A,1
4,4,4,2024-08-23T08:39:23.339Z,-62,2480,"[-178, -20, 33, -181, 180, 34, -62, 165, -162,...",14-14-13-8-10,0,1,A,1
...,...,...,...,...,...,...,...,...,...,...,...
23910,23910,233,2024-08-23T14:57:33.390Z,-50,2426,"[150, -13, -21, 156, -146, -46, 73, -138, 127,...",6-6-4-9-10,90,2,B,2
23911,23911,234,2024-08-23T14:57:33.904Z,-50,2426,"[-118, -103, 114, -104, 88, 128, -142, 55, -39...",6-6-4-9-10,90,2,B,2
23912,23912,235,2024-08-23T14:57:34.419Z,-57,2480,"[176, 34, -79, 167, -171, -87, 111, -137, 125,...",6-6-4-9-10,90,2,B,2
23913,23913,236,2024-08-23T14:57:34.883Z,-57,2480,"[-108, -146, 163, -103, 75, 170, -177, 54, -15...",6-6-4-9-10,90,2,B,2
23914,23914,237,2024-08-23T14:57:35.398Z,-51,2402,"[74, 197, -205, 40, -9, -217, 206, 17, -49, 20...",6-6-4-9-10,90,2,B,2